<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Dear Moorem Admin, </h1>

<p>
  <%= @con.name %> has sent you an Message. Here is the short summary of the Message: <br/>
</p>

<p>
  <strong>Contact Name :</strong> <%= @con.name %><br/>
  <strong>Contact Email : </strong><%= @con.email %><br/>
  <strong>Regarding :</strong> <%= @con.subject %><br/>
  <strong>Message : </strong><br/><%= @con.message %><br/><br/>
</p>


</body>
</html>