<!--demo code-->
<div role="navigation" class="navbar navbar-default padding-5">
  <div class="container">
    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to (image_tag("logo.png", :alt => "Moorem Technology pvt. ltd.", class: "logo img-responsive")), root_path %>
    </div>

    <div class="navbar-collapse collapse">

     <ul class="nav navbar-nav navbar-right margin-top-15">
       <% if params[:controller] == 'home' %>
         <li class="active">
           <%= link_to "Home", root_path %>
         </li>
       <% else %>
         <li>
           <%= link_to "Home", root_path %>
         </li>
       <% end %>
       <% if params[:controller] == 'pages' and params[:action] == 'about' %>
         <li class="active">
           <%= link_to "About Us", about_pages_path %>
         </li>
       <% else %>
         <li>
           <%= link_to "About Us", about_pages_path %>
         </li>
       <% end %>
       <% if params[:controller] == 'pages' and params[:action] == 'portfolio' %>
         <li class="active">
           <%= link_to "Portfolio", portfolio_pages_path %>
         </li>
       <% else %>
         <li>
           <%= link_to "Portfolio", portfolio_pages_path %>
         </li>
       <% end %>
       <% if params[:controller] == 'pages' and params[:action] == 'team' %>
         <li class="active">
           <%= link_to "Team", team_pages_path %>
         </li>
       <% else %>
         <li>
           <%= link_to "Team", team_pages_path %>
         </li>
       <% end %>
       <% if params[:controller] == 'pages' and params[:action] == 'career' %>
         <li class="active">
           <%= link_to "Career", career_pages_path %>
         </li>
       <% else %>
         <li>
           <%= link_to "Career", career_pages_path %>
         </li>
       <% end %>
       <% if params[:controller] == 'pages' and params[:action] == 'contact' %>
         <li class="active">
           <%= link_to "Contact Us".html_safe, contact_pages_path %>
         </li>
       <% else %>
         <li>
           <%= link_to "Contact Us".html_safe, contact_pages_path %>
         </li>
       <% end %>
       <li>
         <div class="social-icons padding-left-20">
           <ul class="social-icons">
             <li class="facebook"><a href="https://www.facebook.com/mooremtech" target="_blank" title="Facebook">Facebook</a>
             </li>
             <li class="twitter"><a href="https://twitter.com/mooremtech" target="_blank" title="Twitter">Twitter</a></li>
             <li class="linkedin">
               <a href="http://www.linkedin.com/company/moorem-technologies-pvt-ltd" target="_blank" title="Linkedin">Linkedin</a>
             </li>
           </ul>
         </div>
       </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>