<div role="navigation" class="navbar navbar-default padding-5">
  <div class="container">
    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="social-icons visible-xs social-icons-responsive">
        <ul class="social-icons">
          <li class="facebook">
            <a href="https://www.facebook.com/mooremtech" target="_blank" title="Facebook">Facebook</a></li>
          <li class="twitter"><a href="https://twitter.com/mooremtech" target="_blank" title="Twitter">Twitter</a></li>
          <li class="linkedin">
            <a href="http://www.linkedin.com/company/moorem-technologies-pvt-ltd" target="_blank" title="Linkedin">Linkedin</a>
          </li>
        </ul>
      </div>
      <%= link_to (image_tag 'logo.png', :alt => 'Moorem Technology Private Limited', class: 'logo img-responsive'), root_path %>
    </div>

    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right margin-top-15">
        <li class="<%= 'active' if params[:controller] == 'home' && params[:action] == 'index' %>"><%= link_to 'Home', root_path %></li>
        <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'about' %>"><%= link_to 'About Us', about_pages_path %></li>
        <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'portfolio' %>"><%= link_to 'Portfolio', portfolio_pages_path %></li>
        <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'team' %>"><%= link_to 'Team', team_pages_path %></li>
        <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'career' %>"><%= link_to 'Career', career_pages_path %></li>
        <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'blog' %>"><%= link_to 'Blog', blog_pages_path %></li>
        <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'contact' %>"><%= link_to 'Contact Us', contact_pages_path %></li>
        <li>
          <div class="social-icons padding-left-20 hidden-xs">
            <ul class="social-icons">
              <li class="facebook">
                <a href="https://www.facebook.com/mooremtech" target="_blank" title="Facebook">Facebook</a>
              </li>
              <li class="twitter"><a href="https://twitter.com/mooremtech" target="_blank" title="Twitter">Twitter</a>
              </li>
              <li class="linkedin">
                <a href="http://www.linkedin.com/company/moorem-technologies-pvt-ltd" target="_blank" title="Linkedin">Linkedin</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>