<header id="header">
  <div class="container">
    <h1 class="logo">
      <%= link_to (image_tag 'logo.png', :alt => 'Moorem Technology Private Limited', style: 'top:0px;'), root_path %>
    </h1>
    <nav>
      <ul class="nav nav-pills nav-top">
        <li>
          <%= link_to 'About Us <i class="fa fa-angle-right"></i>'.html_safe, about_pages_path %>
        </li>
        <li>
          <%= link_to 'Contact Us <i class="fa fa-angle-right"></i>'.html_safe, contact_pages_path %>
        </li>
        <li class="phone">
          <span>INDIA <i class="fa fa-phone"></i> (080) 25-74-5444</span>
        </li>
        <li class="phone">
          <span>UK &nbsp; &nbsp; <i class="fa fa-phone"></i> +44 (0) 23 8084 7822</span>
        </li>
      </ul>
    </nav>
    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse nav-main-collapse collapse">
    <div class="container">
      <ul class="social-icons">
        <li class="facebook"><a href="https://www.facebook.com/mooremtech" target="_blank" title="Facebook">Facebook</a>
        </li>
        <li class="twitter"><a href="https://twitter.com/mooremtech" target="_blank" title="Twitter">Twitter</a></li>
        <li class="linkedin">
          <a href="http://www.linkedin.com/company/moorem-technologies-pvt-ltd" target="_blank" title="Linkedin">Linkedin</a>
        </li>
      </ul>
      <nav class="nav-main mega-menu">
        <ul class="nav nav-pills nav-main" id="mainMenu">
          <li class="<%= 'active' if params[:controller] == 'home' && params[:action] == 'index' %>">
            <%= link_to 'Home', root_path %>
          </li>
          <li class="dropdown <%= 'active' if params[:controller] == 'pages' && params[:action] == 'about' %>">
            <%= link_to 'About Us <i class="fa fa-angle-down"></i>'.html_safe, '#', class: 'dropdown-toggle' %>
            <ul class="dropdown-menu">
              <li><%= link_to 'About Us', about_pages_path, :class => 'dropdown-toggle' %></li>
              <li><%= link_to 'Who we are?', who_we_are_pages_path, :class => 'dropdown-toggle' %></li>
            </ul>
          </li>
          <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'portfolio' %>">
            <%= link_to 'Portfolio', portfolio_pages_path %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'career' %>">
            <%= link_to 'Career', career_pages_path %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'team' %>">
            <%= link_to 'Team', team_pages_path %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'blog' %>">
            <%= link_to 'Blog', blog_pages_path %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'contact' %>">
            <%= link_to 'Contact Us', contact_pages_path %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<script>
  $('.dropdown').hover(
      function () {
        $(this).addClass('resp-active')
      },
      function () {
        $(this).removeClass('resp-active')
      }
  )
</script>