<div role="main" class="main">
<div id="content" class="content full">

<div class="slider-container">
  <div class="slider" id="revolutionSlider">
    <ul>
      <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
        <%= image_tag("slides/wall2.jpg") %>

        <div class="caption sft stb visible-desktop"
             data-x="90"
             data-y="180"
             data-speed="300"
             data-start="1000"
             data-easing="easeOutExpo"><%= image_tag("slides/slide-title-border.png") %></div>

        <div class="caption top-label lfl stl"
             data-x="140"
             data-y="180"
             data-speed="300"
             data-start="500"
             data-easing="easeOutExpo">DO YOU NEED A NEW
        </div>

        <div class="caption sft stb visible-desktop"
             data-x="390"
             data-y="180"
             data-speed="300"
             data-start="1000"
             data-easing="easeOutExpo"><%= image_tag("slides/slide-title-border.png") %></div>

        <div class="caption main-label sft stb"
             data-x="20"
             data-y="230"
             data-speed="300"
             data-start="1500"
             data-easing="easeOutExpo">Web Application?
        </div>

        <div class="caption bottom-label sft stb"
             data-x="110"
             data-y="280"
             data-speed="500"
             data-start="2000"
             data-easing="easeOutExpo">Check out our work and features.
        </div>

        <div class="caption randomrotate"
             data-x="610"
             data-y="130"
             data-speed="1000"
             data-start="3250"
             data-easing="easeOutBack"><%= image_tag("slides/all-view.png") %></div>

        <!--<div class="caption blackboard-text lfb "
             data-x="420"
             data-y="300"
             data-speed="500"
             data-start="3450"
             data-easing="easeOutExpo" style="font-size: 35px;">Think
        </div>

        <div class="caption blackboard-text lfb "
             data-x="430"
             data-y="350"
             data-speed="500"
             data-start="3650"
             data-easing="easeOutExpo" style="font-size: 45px;">Outside
        </div>

        <div class="caption blackboard-text lfb "
             data-x="480"
             data-y="400"
             data-speed="500"
             data-start="3850"
             data-easing="easeOutExpo" style="font-size: 29px;">The box :)
        </div>-->
      </li>
      <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
        <%= image_tag("slides/wall2.jpg") %>

        <div class="caption fade"
             data-x="20"
             data-y="100"
             data-speed="2500"
             data-start="200"
             data-easing="easeOutExpo"><%= image_tag("slides/ecommorce-site.png") %></div>

        <div class="caption main-label sft stb"
             data-x="470"
             data-y="200"
             data-speed="300"
             data-start="1500"
             data-easing="easeOutExpo">E-Commerce!
        </div>

        <div class="caption bottom-label sft stb"
             data-x="420"
             data-y="250"
             data-speed="500"
             data-start="2000"
             data-easing="easeOutExpo">great design pattern and great E-Commerce application
        </div>

      </li>
    </ul>
  </div>
</div>

<div class="home-intro">
  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <p>
          Careers: We have hot openings in <em>ROR and Android!</em>
        </p>
      </div>
      <div class="col-md-4">
        <div class="get-started margin-0">
          <%= link_to 'Apply Now!', contact_pages_path, class: "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">

  <div class="row center">
    <div class="col-md-12">
      <h1 class="short">Moorem Technologies is Design, Development &amp; Quality Assurance Strategy.</h1>

      <p class="featured lead">
        We specialise in the development of unique, cleanly designed, responsive websites that function on desktop,
        tablet and mobile devices.
      </p>
    </div>
  </div>

</div>

<div class="home-concept">
  <div class="container">

    <div class="row center round_images">
      <span class="sun"></span>
      <span class="cloud"></span>

      <div class="col-md-2 col-md-offset-1">
        <div class="process-image" data-appear-animation="bounceIn">
          <%= image_tag("Web-Design-Development-Strategy.jpg", :alt => "Company Strategy") %>
          <strong>Strategy</strong>
        </div>
      </div>
      <div class="col-md-2">
        <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="200">
          <%= image_tag("web_development-planning.png", :alt => "Company Planning") %>
          <strong>Planning</strong>
        </div>
      </div>
      <div class="col-md-2">
        <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
          <%= image_tag("build.jpg", :alt => "Company Build") %>
          <strong>Build</strong>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <div class="project-image">
          <div id="fcSlideshow" class="fc-slideshow">
            <ul class="fc-slides">
              <li><%= image_tag("project-img-1.jpg", :alt => "Hugpets") %></li>
              <li><%= image_tag("project-img-2.jpg", :alt => "webstore") %></li>
              <li><%= image_tag("project-img-3.jpg", :alt => "visme") %></li>
            </ul>
          </div>
          <strong class="our-work">Our Work</strong>
        </div>
      </div>
    </div>
    <hr class="tall"/>

  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h2>Our <strong>Services</strong></h2>

      <div class="row">
        <div class="col-md-6">
          <div class="feature-box">
            <div class="feature-box-icon">
              <i class="icon-group"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">Ruby on Rails </h4>

              <p class="tall">Ruby on rails development</p>
            </div>
          </div>
          <div class="feature-box">
            <div class="feature-box-icon">
              <i class="icon-file"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">HTML5 / CSS3 / JS</h4>

              <p class="tall">UI Design with HTML5/CSS3</p>
            </div>
          </div>
          <div class="feature-box">
            <div class="feature-box-icon">
              <i class="icon-google-plus"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">Databases</h4>

              <p class="tall">Database mysql/sqlite/PostgreSQL</p>
            </div>
          </div>
          <div class="feature-box">
            <div class="feature-box-icon">
              <i class="icon-adjust"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">Graphic Design</h4>

              <p class="tall">Graphic design work </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-box">
            <div class="feature-box-icon">
              <i class="icon-film"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">Android Development </h4>

              <p class="tall">Android Application development</p>
            </div>
          </div>
          <div class="feature-box">
            <div class="feature-box-icon">
              <i class="glyphicon glyphicon-user"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">Backbone</h4>

              <p class="tall">Working with Backbone js</p>
            </div>
          </div>
          <div class="feature-box">
            <div class="feature-box-icon">
              <i class="icon-reorder"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">Coffee Script </h4>

              <p class="tall">Work with Coffee script</p>
            </div>
          </div>
          <div class="feature-box">
            <div class="feature-box-icon">
              <i class="icon-desktop"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="shorter">Twitter Bootstrap</h4>

              <p class="tall">Complete Bootstrap design</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h2>and more...</h2>

      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="icon-lightbulb"></i>About</a>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              Moorem is an Agile Web and Mobile application Development company. Our specialty is Ruby On Rails,
              Android, iPhone and Social Apps and our clients think we’re pretty good at it.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="icon-bell-alt"></i>VISION</a>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              Team Work, Collaboration, Development, Motivation, Innovation. Hassle Free, Easy to Adapt, Learn and Grow.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="icon-laptop"></i>MISSION
            </a>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              To become one of best companies in delivering quality IT and valuable added services to our clients at
              competitive rates. To help our clients be pioneers in the competitive world and lead them to success.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="tall margin-top-0"/>

  <div class="row center">
    <div class="col-md-12">
      <h2 class="short">We're not the only ones <strong>excited</strong> about our previous work...</h2>
      <h4 class="lead tall">10 customers in 6 countries use our Services. Meet our customers.</h4>
    </div>
  </div>
  <div class="row center">
    <div class="flexslider unstyled" data-plugin-options='{"directionNav":false, "animation":"slide", "slideshow": false, "maxVisibleItems": 6}'>
      <ul class="slides">
        <li>
          <div class="col-md-2">
            <%= image_tag("clients/acadmy-ideas.png", :class => 'mobile-max-width small', :alt => "Acadmy ideas") %>
          </div>
        </li>
        <li>
          <div class="col-md-2">
            <%= image_tag("clients/aha.png", :class => 'mobile-max-width small', :alt => "AHA Peacq") %>
          </div>
        </li>
        <li>
          <div class="col-md-2">
            <%= image_tag("clients/edgudri.png", :class => 'mobile-max-width small', :alt => "edgudri") %>
          </div>
        </li>
        <li>
          <div class="col-md-2">
            <%= image_tag("clients/idea-mobb.png", :class => 'mobile-max-width small', :alt => "Idea Mobb") %>
          </div>
        </li>
        <li>
          <div class="col-md-2">
            <%= image_tag("clients/ideju.png", :class => 'mobile-max-width small', :alt => "Ideju") %>
          </div>
        </li>
        <li>
          <div class="col-md-2">
            <%= image_tag("clients/web-store.png", :class => 'mobile-max-width small', :alt => "Web Store") %>
          </div>
        </li>
        <li>
          <div class="col-md-2">
            <%= image_tag("clients/fabrily.png", :class => 'mobile-max-width small', :alt => "Fabrily") %>
          </div>
        </li>
        <li>
          <div class="col-md-2">
            <%= image_tag("clients/rewardcamp.png", :class => 'mobile-max-width small', :alt => "rewardcamp") %>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>

<!--<div class="map-section">-->
<section class="featured footer map">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="recent-posts">
          <h2>Latest <strong>Blog</strong> Posts</h2>

          <div class="row">
            <div class="flexslider unstyled" data-plugin-options='{"directionNav":false, "animation":"slide"}'>
							<ul class="slides">
								<li>
									<div class="span3">
										<article>
											<div class="date">
												<span class="day">1</span>
												<span class="month">Aug</span>
											</div>
											<h4><a href="blog-post.html">Learn Ruby on Rails with this Step-by-step</a></h4>
											<p>
                        To become a great developer, you have to follow these steps, where you will find all the basics:-
                        <ul>
                          <li>1. Master the basics of programming.</li>
                          <li>2. Learn Ruby.</li>
                          <li>3. Start out with simpler web frameworks.</li>
                          <li>4. Get acquainted with Rails.</li>
                          <li>5. Read the Rails tutorial</li>
                          <li>6. Check out a guidebook or take a course</li>
                          <li>7. Get involved in the Ruby on Rails community</li>
                        </ul>
                      <%= link_to blog_pages_path, :title => "read more", :class=>'pull-right' do %>read more <i class="icon-angle-right"></i><% end %>
											</p>
										</article>
									</div>
								</li>
							</ul>
						</div>

            <div class="row">
              <div class="col-md-12">
                <%= link_to blog_pages_path, :title => 'All Posts', :class=>'btn btn-flat btn-mini btn-primary pull-right pull-bottom-phone' do %>All Posts <i class="icon-angle-right"></i><% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2><strong>What</strong> Client’s Say</h2>

        <div class="row">
          <div class="flexslider flexslider-top-title unstyled" data-plugin-options='{"controlNav":false, "smoothHeight": true, "slideshow": true, "animationLoop": true, "animation":"slide"}'>
            <ul class="slides">
              <li>
                <div class="col-md-12">
                  <blockquote class="testimonial">
                    <p>Good Work! Moorem Technologies Pvt Ltd has done great job in completing the Project in time. They
                      have delivered the Quality IT Project Deliverable in time, without any hassle. It's my pleasure to
                      work with Moorem Technologies Private Limited. </p>
                  </blockquote>
                  <div class="testimonial-arrow-down"></div>
                  <div class="testimonial-author">
                    <div class="thumbnail thumbnail-small">
                      <%= image_tag("testimonials/maheshpremayogan.png", :alt => "Mahesh Premayogan") %>
                    </div>
                    <p><strong>Mahesh Premayogan</strong><span>Accenture, USA </span></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="col-md-12">
                  <blockquote class="testimonial">
                    <p>Moorem Technologies is good at providing enhancement and maintenance services to the Projects at
                      affordable price. Quality Delivery is in time and that makes our applications execute without any
                      interruptions. Thanks to Moorem Technologies for providing such an extra-ordinary service at
                      Competitive Cost. </p>
                  </blockquote>
                  <div class="testimonial-arrow-down"></div>
                  <div class="testimonial-author">
                    <div class="thumbnail thumbnail-small">
                      <%= image_tag("testimonials/andris.jpg", :alt => "Andris") %>
                    </div>
                    <p><strong>Andris Čeksters</strong><span> Academy of Ideas, Latvia</span></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="col-md-12">
                  <blockquote class="testimonial">
                    <p>Moorem Technologies is providing accurate IT Project Deliverable and Maintenance of Projects for
                      Competitive Cost. It's a good company. </p>
                  </blockquote>
                  <div class="testimonial-arrow-down"></div>
                  <div class="testimonial-author">
                    <div class="thumbnail thumbnail-small">
                      <%= image_tag("testimonials/ianjones.jpg", :alt => "Ian Jones") %>
                    </div>
                    <p><strong>Ian Jones </strong><span>Webstore Private Limited, United Kingdom </span></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="col-md-12">
                  <blockquote class="testimonial">
                    <p>Good work! Moorem Technologies. Keep it up. </p>
                  </blockquote>
                  <div class="testimonial-arrow-down"></div>
                  <div class="testimonial-author">
                    <div class="thumbnail thumbnail-small">
                      <%= image_tag("testimonials/keeratitiranvanitkul.jpg", :alt => "Keeratitiranvanithul") %>
                    </div>
                    <p><strong>Keerati Tiranvanitkul</strong><span> Bright Med, Thailand </span></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--</div>-->
</div>
</div>
