<!-- Content Start -->
<div id="main">
  <!-- Slider Start-->
  <div class="slider-wrapper theme-default">
    <div id="nivoslider" class="nivoSlider">
      <%= link_to (image_tag('slider/visme.jpg', :title => '#htmlcaption')), '#' %>
      <%= link_to (image_tag('slider/academyofideas.jpg', :title => '#htmlcaption2')), '#' %>
      <%= link_to (image_tag('slider/foundandlostdogs.jpg', :title => '#htmlcaption3')), '#' %>
    </div>
    <div id="htmlcaption" class="nivo-html-caption">
      <h2>Terminal cancer patient visitor planner</h2>
    </div>
    <div id="htmlcaption2" class="nivo-html-caption">
      <h2>Innovative, effective and fun way to get the best ideas and information from your employees and
        co-workers.</h2>
    </div>
    <div id="htmlcaption3" class="nivo-html-caption">
      <h2>Found Lost Dogs.</h2>
    </div>
  </div>
  <div class="clearfix"></div>
  <!-- Slider End-->
  <!-- Slogan Start-->
  <div class="slogan bottom-pad-small">
    <div class="container">
      <div class="slogan-content">
        <div class="col-lg-9 col-md-9">
          <h2 class="slogan-title">We have hot openings in ROR and Android!</h2>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="get-started">
            <%= link_to 'Apply Now', contact_path, :class => 'btn btn-special btn-color pull-right' %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- Slogan End-->
<!-- Main Content start-->

<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item bottom-pad-small">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1"><i class="fa fa-building-o"></i></div>
              <div class="ch-info-back">
                <i class="fa fa-building-o"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Web Development</h3>

            <p>
              Moorem Technologies is specialist in Web Development using Ruby On Rails Technology Stack.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item bottom-pad-small">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1"><i class="fa fa-building-o"></i></div>
              <div class="ch-info-back">
                <i class="fa fa-building-o"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Mobile Development</h3>
            <p>
              We follow the latest trends in mobile development and develop productive apps and business solutions for
              iPhone, iPad and Android.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1"><i class="fa fa-building-o"></i></div>
              <div class="ch-info-back">
                <i class="fa fa-building-o"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>Technologies We Support</h3>

            <p>
              Ruby On Rails, Backbone, Angularjs, CoffeeScript, HTML5, Responsive Designs, Objective-C, Android SDK,
              Java, Rhodes Framework.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Our Clients Start-->
<div class="our-clients" style="background-position: 50% -10px;">
<div class="bg-overlay">
<div class="container">
  <div class="row">
    <div class="client" style="background-position: 50% 29px;">
      <div class="client-logo">
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
          <div class="clients-title">
            <h3 class="title">Our Clients</h3>

            <div class="carousel-controls pull-right">
              <a class="prev" href="#client-carousel" data-slide="prev"><i class="icon-angle-left"></i></a>
              <a class="next" href="#client-carousel" data-slide="next"><i class="icon-angle-right"></i></a>

              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div id="client-carousel" class="client-carousel slide">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d1 animate_start">
                    <div class="item-inner">
                      <a style="cursor: pointer;">
                        <%= image_tag 'clientslogo/logo-1.png', :alt => 'Upportdash' %>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d2 animate_start">
                    <div class="item-inner">
                      <a style="cursor: pointer;">
                        <%= image_tag 'clientslogo/logo-2.png', :alt => 'Upportdash' %>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d3 animate_start">
                    <div class="item-inner">
                      <a style="cursor: pointer;">
                        <%= image_tag 'clientslogo/logo-3.png', :alt => 'Upportdash' %>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d4 animate_start">
                    <div class="item-inner">
                      <a style="cursor: pointer;">
                        <%= image_tag 'clientslogo/logo-4.png', :alt => 'Upportdash' %>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                    <div class="item-inner">
                      <a style="cursor: pointer;">
                        <%= image_tag 'clientslogo/logo-5.png', :alt => 'Upportdash' %>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                    <div class="item-inner">
                      <a style="cursor: pointer;">
                        <%= image_tag 'clientslogo/logo-4.png', :alt => 'Upportdash' %>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                    <div class="item-inner">
                      <a style="cursor: pointer;">
                        <%= image_tag 'clientslogo/logo-3.png', :alt => 'Upportdash' %>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                    <div class="item-inner">
                      <a style="cursor: pointer;">
                        <%= image_tag 'clientslogo/logo-2.png', :alt => 'Upportdash' %>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <!-- Testimonials Widget Start -->
          <div class="row ">
            <div class="testimonials widget">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="testimonials-title">
                  <h3 class="title">Testimonials</h3>
                </div>
              </div>
              <div class="clearfix"></div>
              <div id="testimonials-carousel" class="testimonials-carousel slide animate_afr d5 animate_start">
                <div class="carousel-inner">
                  <div class="item">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="testimonial item">
                        <p>
                          Moorem Technologies is good at providing enhancement and maintenance services to the
                          Projects at affordable price.
                          Quality Delivery is in time and that makes our applications execute without any
                          interruptions.
                          Thanks to Moorem Technologies for providing such an extra-ordinary service at Competitive
                          Cost.
                        </p>

                        <div class="testimonials-arrow">
                        </div>
                        <div class="author">
                          <div class="testimonial-image ">
                            <%= image_tag 'testimonial/andris.jpg', :alt => '' %>
                          </div>
                          <div class="testimonial-author-info">
                            <a style="cursor: pointer;"><span class="color">Andris Čeksters</span></a> Academy of
                            Ideas, Latvia
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="item">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="testimonial item">
                        <p>
                          Good work! Moorem Technologies. Keep it up.
                        </p>

                        <div class="testimonials-arrow">
                        </div>
                        <div class="author">
                          <div class="testimonial-image ">
                            <%= image_tag 'testimonial/keeratitiranvanitkul.jpg', :alt => '' %>
                          </div>
                          <div class="testimonial-author-info">
                            <a style="cursor: pointer;"><span class="color">Keerati Tiranvanitkul</span></a> Bright
                            Med, Thailand
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="item">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="testimonial item">
                        <p>
                          Good Work!
                          Moorem Technologies Pvt Ltd has done great job in completing the Project in time.
                          They have delivered the Quality IT Project Deliverable in time, without any hassle.
                          It's my pleasure to work with Moorem Technologies Private Limited.
                        </p>

                        <div class="testimonials-arrow">
                        </div>
                        <div class="author">
                          <div class="testimonial-image ">
                            <%= image_tag 'testimonial/maheshpremayogan.png', :alt => '' %>
                          </div>
                          <div class="testimonial-author-info">
                            <a style="cursor: pointer;"><span class="color">Mahesh Premayogan</span></a> Accenture,
                            USA
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="item active">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="testimonial item">
                        <p>
                          Moorem Technologies is providing accurate IT Project Deliverable and Maintenance of
                          Projects for Competitive Cost.
                          It's a good company.
                        </p>

                        <div class="testimonials-arrow">
                        </div>
                        <div class="author">
                          <div class="testimonial-image ">
                            <%= image_tag 'testimonial/ianjones.jpg', :alt => '' %>
                          </div>
                          <div class="testimonial-author-info">
                            <a style="cursor: pointer;"><span class="color">Ian Jones</span></a> Webstore Private
                            Limited, United Kingdom
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- Our Clients End -->
</div>
<!-- Content End -->

<script type="text/javascript">
    jQuery('.portfolio-carousel').carousel({interval: false, wrap: false});

    jQuery('.client-carousel').carousel({interval: false, wrap: false});

    jQuery('.testimonials-carousel').carousel({interval: 5000, pause: "hover"});
</script>
