<div class="wrap">
<!-- Content Start -->
<div id="main">
<!-- Title, Breadcrumb Start-->
<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
        <h2 class="title">About Us</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
        <div class="breadcrumbs pull-right">
          <ul>
            <li>You are here:</li>
            <li><a href="/">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li>About Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Title, Breadcrumb End-->
<!-- Main Content start-->
<div class="content">
<div class="container">
<div class="row">
  <div class="posts-block col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <article>
      <h3 class="title">Who We Are?</h3>

      <div class="post-content">
        <div class="img-content">
          <%= image_tag 'team/team.jpg', :alt => '' %>
        </div>
        <p>
          <label>Design. Development. Content Strategy.</label> We craft unique and cleanly designed, meticulously
          developed, content-rich websites that function on the desktop first and are compatible with every mobile
          device out there. Once we understand your business and its goals we’ll create an experience that helps your
          customers solve their problems and ensures that they keep coming back for more.
        </p>
        <br>

        <!--<p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
          to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
          text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making
          this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a
          handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem
          Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
        </p>-->
      </div>
    </article>
  </div>
  <!-- Left Section End -->
  <!-- Skill Section Start -->
  <div class="skills col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <h3 class="title">Our Skills</h3>

    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Ruby
        on Rails
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Databases</div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Graphic
        Design
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">HTML/CSS
        Design
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Android
        Development
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Backbone</div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Coffee
        Script
      </div>
    </div>
  </div>
  <!-- Skill Section Start -->
  <div class="clearfix"></div>
</div>
<div class="divider"></div>
<div class="row">
  <div class="col-lg-12">
    <h3 class="title">Our Growth</h3>
  </div>
  <div class="clearfix"></div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 animate_afl">
    <h4>Last two years achivements</h4>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book.
    </p>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book.
    </p>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 animate_afr">
    <ul class="graph-container">
      <li>
        <span>2013</span>

        <div class="bar-wrapper">
          <div class="bar-container">
            <div class="bar-background"></div>
            <div class="bar-inner">25</div>
            <div class="bar-foreground"></div>
          </div>
        </div>
      </li>
      <li>
        <span>2014</span>

        <div class="bar-wrapper">
          <div class="bar-container">
            <div class="bar-background"></div>
            <div class="bar-inner" height="35%">35</div>
            <div class="bar-foreground"></div>
          </div>
        </div>
      </li>
      <li>
        <ul class="graph-marker-container">
          <li style="bottom:25%;"><span>25%</span></li>
          <li style="bottom:50%;"><span>50%</span></li>
          <li style="bottom:75%;"><span>75%</span></li>
          <li style="bottom:100%;"><span>100%</span></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="divider"></div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <!-- Tab Start -->
    <h3 class="title">How We Work</h3>

    <div class="widget tabs animate_afc">
      <div id="horizontal-tabs">
        <ul class="tabs">
          <li id="tab1" class="current">Design</li>
          <li id="tab2">Development</li>
          <li id="tab3">Testing</li>
        </ul>
        <div class="contents">
          <div class="tabscontent" id="content1" style="display: block;">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
          <div class="tabscontent" id="content2">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
          <div class="tabscontent" id="content3">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Tab End -->
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <!-- Testimonials Widget Start -->
    <div class="row">
      <div class="testimonials widget">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="testimonials-title">
            <h3 class="title">Testimonials</h3>
          </div>
        </div>
        <div class="clearfix"></div>
        <div id="testimonials-carousel" class="testimonials-carousel slide animate_afr d5 animate_start">
          <div class="carousel-inner">
            <div class="item">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="testimonial item">
                  <p>
                    Moorem Technologies is good at providing enhancement and maintenance services to the Projects at
                    affordable price.
                    Quality Delivery is in time and that makes our applications execute without any interruptions.
                    Thanks to Moorem Technologies for providing such an extra-ordinary service at Competitive Cost.
                  </p>

                  <div class="testimonials-arrow">
                  </div>
                  <div class="author">
                    <div class="testimonial-image "><%= image_tag 'testimonial/andris.jpg', :alt => '' %></div>
                    <div class="testimonial-author-info">
                      <a href="#"><span class="color">Andris Čeksters</span></a> Academy of Ideas, Latvia
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="testimonial item">
                  <p>
                    Good work! Moorem Technologies. Keep it up.
                  </p>

                  <div class="testimonials-arrow">
                  </div>
                  <div class="author">
                    <div class="testimonial-image "><%= image_tag 'testimonial/keeratitiranvanitkul.jpg', :alt => '' %></div>
                    <div class="testimonial-author-info">
                      <a href="#"><span class="color">Keerati Tiranvanitkul</span></a> Bright Med, Thailand
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="testimonial item">
                  <p>
                    Good Work!
                    Moorem Technologies Pvt Ltd has done great job in completing the Project in time.
                    They have delivered the Quality IT Project Deliverable in time, without any hassle.
                    It's my pleasure to work with Moorem Technologies Private Limited.
                  </p>

                  <div class="testimonials-arrow">
                  </div>
                  <div class="author">
                    <div class="testimonial-image "><%= image_tag 'testimonial/maheshpremayogan.png', :alt => '' %></div>
                    <div class="testimonial-author-info">
                      <a href="#"><span class="color">Mahesh Premayogan</span></a> Accenture, USA
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="item active">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="testimonial item">
                  <p>
                    Moorem Technologies is providing accurate IT Project Deliverable and Maintenance of Projects for
                    Competitive Cost.
                    It's a good company.
                  </p>

                  <div class="testimonials-arrow">
                  </div>
                  <div class="author">
                    <div class="testimonial-image "><%= image_tag 'testimonial/ianjones.jpg', :alt => '' %></div>
                    <div class="testimonial-author-info">
                      <a href="#"><span class="color">Ian Jones</span></a> Webstore Private Limited, United Kingdom
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="divider"></div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3 class="title">Our Team</h3>

    <div class="row team">
      <!-- item 1 -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d2">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <%= image_tag 'team/thiyagarajan.jpg', :alt => 'Thiyagarajan Veluchamy' %>
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="https://www.facebook.com/thiyagarajannv" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="twitter team-member-links-item" href="https://twitter.com/thiyagarajannv" target="_blank"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="http://in.linkedin.com/in/thiyagarajanveluchamy" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">Thiyagarajan Veluchamy</h4>

              <div class="team-member-role">Ruby/PHP developer/Designer</div>
              <!--<div class="team-member-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus,
                  orci ipsum gravida tortor.</p>
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
      <!-- item 2 -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d1">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <%= image_tag 'team/ankurgupta.jpg', :alt => 'Ankur Gupta' %>
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="https://facebook.com/shank27"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="twitter team-member-links-item" href="https://twitter.com/shanky59"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="http://in.linkedin.com/in/shank27"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">Ankur Gupta</h4>

              <div class="team-member-role">Ruby/Android developer</div>
              <!--<div class="team-member-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus,
                  orci ipsum gravida tortor.</p>
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
      <!-- item 3 -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d3">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <%= image_tag 'team/pavitrakumarsingh.jpg', :alt => 'Pavitra Kumar Singh' %>
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">Pavitra Kumar Singh</h4>

              <div class="team-member-role">Ruby/Java developer</div>
              <!--<div class="team-member-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus,
                  orci ipsum gravida tortor.</p>
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
      <!-- item 4 -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d4">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <%= image_tag 'team/sivamanoharreddy.jpg', :alt => 'V.Siva Manohar Reddy' %>
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">V. Siva Manohar Reddy</h4>

              <div class="team-member-role">Ruby/Java developer</div>
              <!--<div class="team-member-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus,
                  orci ipsum gravida tortor.</p>
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
      <!-- item 5 -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d4">
        <div class="team-member">
          <div class="team-member-holder">
            <div class="team-member-image">
              <%= image_tag 'team/vimalkhatri.jpg', :alt => 'Vimal Khatri' %>
              <div class="team-member-links">
                <div class="team-member-links-list">
                  <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="team-member-meta">
              <h4 class="team-member-name">Vimal Khatri</h4>

              <div class="team-member-role">Designer/Tester</div>
              <!--<div class="team-member-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus,
                  orci ipsum gravida tortor.</p>
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
</div>
</div>
</div>
<!-- Main Content end-->
<!-- Our Clients Start-->
<div class="our-clients">
  <div class="container">
    <div class="row">
      <div class="client">
        <div class="client-logo">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="clients-title">
              <h3 class="title">Our Clients</h3>

              <div class="carousel-controls pull-right">
                <a class="prev" href="#client-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a class="next" href="#client-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>

                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div id="client-carousel" class="client-carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item animate_afc d1">
                      <div class="item-inner">
                        <a href="#"><%= image_tag 'clientslogo/webstorelogo.png', :alt => 'Upportdash' %></a></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item animate_afc d2">
                      <div class="item-inner">
                        <a href="#"><%= image_tag 'clientslogo/theparkclublogo.png', :alt => 'Upportdash' %></a></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item animate_afc d3">
                      <div class="item-inner">
                        <a href="#"><%= image_tag 'clientslogo/academyofideaslogo.png', :alt => 'Upportdash' %></a></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item animate_afc d4">
                      <div class="item-inner">
                        <a href="#"><%= image_tag 'clientslogo/academyofideaspubliclogo.png', :alt => 'Upportdash' %></a></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item animate_afc d5">
                      <div class="item-inner">
                        <a href="#"><%= image_tag 'clientslogo/dietgame-logo.png', :alt => 'Upportdash' %></a></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item animate_afc d6">
                      <div class="item-inner">
                        <a href="#"><%= image_tag 'clientslogo/peaceqlogo.png', :alt => 'Upportdash' %></a></div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item animate_afc d6">
                    <div class="item-inner">
                      <a href="#"><%= image_tag 'clientslogo/ideamobblogo.png', :alt => 'Upportdash' %></a></div>
                  </div>
                </div>
                  <!--<div class="item">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item">
                      <div class="item-inner">
                        <a href="#"><%= image_tag 'clientslogo/ideamobblogo.png', :alt => 'Upportdash' %></a>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item">
                      <div class="item-inner">
                        <a href="#"><%= image_tag 'clientslogo/academyofideaspubliclogo.png', :alt => 'Upportdash' %></a>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item">
                      <div class="item-inner">
                        <a href="#"><%= image_tag 'clientslogo/academyofideaslogo.png', :alt => 'Upportdash' %></a>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item">
                      <div class="item-inner">
                        <a href="#"><%= image_tag 'clientslogo/theparkclublogo.png', :alt => 'Upportdash' %></a>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item">
                      <div class="item-inner">
                        <a href="#"><%= image_tag 'clientslogo/webstorelogo.png', :alt => 'Upportdash' %></a>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 item">
                      <div class="item-inner">
                        <a href="#"><%= image_tag 'clientslogo/ideamobblogo.png', :alt => 'Upportdash' %></a>
                      </div>
                    </div>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Clients End -->
</div>
<!-- Content End -->
</div>