<div role="main" class="main">

  <section class="page-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li><%= link_to "Home", root_path %></li>
            <li class="active">Portfolio</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!--<h2>Portfolio</h2>-->
        </div>
      </div>
    </div>
  </section>

  <div class="container">

    <h2>Portfolio</h2>

    <ul class="nav nav-pills sort-source" data-sort-id="portfolio" data-option-key="filter" data-no-turbolink>
      <li data-option-value="*" class="active"><a href="#">Show All</a></li>
      <li data-option-value=".website"><a href="#">Websites</a></li>
      <li data-option-value=".webapplication"><a href="#">Web Application</a></li>
      <li data-option-value=".ecommorce"><a href="#">E-Commorce</a></li>
      <li data-option-value=".search"><a href="#">Search</a></li>
    </ul>

    <hr />

    <div class="row">

      <ul class="portfolio-list sort-destination" data-sort-id="portfolio" data-no-turbolink>
        <li class="col-md-4 isotope-item webapplication">
          <div class="portfolio-item thumbnail">
            <a href="https://fabrily.com/" target="_blank" class="thumb-info">
              <%= image_tag("projects/fabrily.jpg", :alt => "fabrily") %>
              <span class="thumb-info-title">
											<span class="thumb-info-inner">Fabrily</span>
											<span class="thumb-info-type">Web Application</span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span>
										</span>
            </a>
          </div>
        </li>
        <li class="col-md-4 isotope-item webapplication">
          <div class="portfolio-item thumbnail">
            <a href="http://pro.edgudri.lv/" target="_blank" class="thumb-info">
              <%= image_tag("projects/diet-site.jpg", :alt => "Diet Site") %>
              <span class="thumb-info-title">
											<span class="thumb-info-inner">Diet Site</span>
											<span class="thumb-info-type">Web Application</span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span>
										</span>
            </a>
          </div>
        </li>
        <li class="col-md-4 isotope-item webapplication">
          <div class="portfolio-item thumbnail">
            <a href="http://stage.hugpets.com" target="_blank" class="thumb-info">
              <%= image_tag("projects/project-img-1.jpg", :alt => "Hugpets") %>
										<span class="thumb-info-title">
											<span class="thumb-info-inner">Hugpets</span>
											<span class="thumb-info-type">Web Application</span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span>
										</span>
            </a>
          </div>
        </li>
        <li class="col-md-4 isotope-item ecommorce">
          <div class="portfolio-item thumbnail">
            <a href="https://www.webstore.co.uk/" target="_blank" class="thumb-info">
              <%= image_tag("projects/project-img-2.jpg", :alt => "Web Store") %>
										<span class="thumb-info-title">
											<span class="thumb-info-inner">Web Store</span>
											<span class="thumb-info-type">E-Commorce</span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span>
										</span>
            </a>
          </div>
        </li>
        <li class="col-md-4 isotope-item website">
          <div class="portfolio-item thumbnail">
            <a href="http://theparkclub.co.uk/" target="_blank" class="thumb-info">
              <%= image_tag("projects/project-img-8.jpg", :alt => "The Park Club") %>
              <span class="thumb-info-title">
											<span class="thumb-info-inner">The Park Club</span>
											<span class="thumb-info-type">Website</span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span>
										</span>
            </a>
          </div>
        </li>
        <li class="col-md-4 isotope-item ecommorce">
          <div class="portfolio-item thumbnail">
            <a href="http://edgudri.lv" target="_blank" class="thumb-info">
              <%= image_tag("projects/project-img-5.jpg", :alt => "Edugudri") %>
              <span class="thumb-info-title">
											<span class="thumb-info-inner">Edgudri.lv</span>
											<span class="thumb-info-type">ECommerce</span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span>
										</span>
            </a>
          </div>
        </li>
        <li class="col-md-4 isotope-item website">
          <div class="portfolio-item thumbnail">
            <a href="http://staging.academyideas.com/internal" target="_blank" class="thumb-info">
              <%= image_tag("projects/project-img-7.jpg", :alt => "Acadmy of idea") %>
              <span class="thumb-info-title">
											<span class="thumb-info-inner">Acadmy of idea</span>
											<span class="thumb-info-type">Website</span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span>
										</span>
            </a>
          </div>
        </li>
        <li class="col-md-4 isotope-item webapplication">
          <div class="portfolio-item thumbnail">
            <a href="http://www.peaceq.com" target="_blank" class="thumb-info">
              <%= image_tag("projects/project-img-9.jpg", :alt => "AHA Peacq") %>
              <span class="thumb-info-title">
											<span class="thumb-info-inner">AHA! Peace-q</span>
											<span class="thumb-info-type">Web Application</span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span>
										</span>
            </a>
          </div>
        </li>
        <li class="col-md-4 isotope-item website">
          <div class="portfolio-item thumbnail">
            <a href="https://www.visme.com/" target="_blank" class="thumb-info">
              <%= image_tag("projects/project-img-3.jpg", :alt => "Visme") %>
              <span class="thumb-info-title">
											<span class="thumb-info-inner">VisMe</span>
											<span class="thumb-info-type">Website</span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span>
										</span>
            </a>
          </div>
        </li>
        <li class="col-md-4 isotope-item search">
          <div class="portfolio-item thumbnail">
            <a href="http://goorgo.com/search?utf8=%E2%9C%93&category=1&search=ruby+on+rails&commit=Search" target="_blank" class="thumb-info">
              <%= image_tag("projects/project-img-4.jpg", :alt => "Goorgo") %>
              <span class="thumb-info-title">
											<span class="thumb-info-inner">Goorgo</span>
											<span class="thumb-info-type">Search engine</span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span>
										</span>
            </a>
          </div>
        </li>
        <li class="col-md-4 isotope-item webapplication">
          <div class="portfolio-item thumbnail">
            <a href="http://www.foundlostdogs.com" target="_blank" class="thumb-info">
              <%= image_tag("projects/foundlostdogs.jpg", :alt => "Found Lost dogs") %>
              <span class="thumb-info-title">
											<span class="thumb-info-inner">Found lost Dogs</span>
											<span class="thumb-info-type">Web Application</span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span>
										</span>
            </a>
          </div>
        </li>
        <li class="col-md-4 isotope-item website">
          <div class="portfolio-item thumbnail">
            <a href="http://crisplawfirm.com/" target="_blank" class="thumb-info">
              <%= image_tag("projects/crisplawfirm.jpg", :alt => "Crisp law firm") %>
              <span class="thumb-info-title">
											<span class="thumb-info-inner">Crips Law Firm</span>
											<span class="thumb-info-type">WebSite</span>
										</span>
										<span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span>
										</span>
            </a>
          </div>
        </li>
      </ul>

    </div>

  </div>

</div>