<div role="main" class="main">

  <section class="page-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li><%= link_to "Home", root_path %></li>
            <li class="active">Team</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!--<h2>Team</h2>-->
        </div>
      </div>
    </div>
  </section>
  <div class="container">

    <h2>Meet the <strong>Team</strong></h2>

    <ul class="nav nav-pills sort-source" data-sort-id="team" data-option-key="filter" data-no-turbolink>
      <li data-option-value="*" class="active"><a href="#">Show All</a></li>
      <li data-option-value=".leadership"><a href="#">Leadership</a></li>
      <li data-option-value=".development"><a href="#">Development</a></li>
      <li data-option-value=".design"><a href="#">Design</a></li>
      <li data-option-value=".testing"><a href="#">Testing</a></li>
    </ul>

    <hr/>

    <div class="row">

      <ul class="team-list sort-destination" data-sort-id="team" data-no-turbolink>
        <!--<li class="col-md-3 isotope-item leadership">-->
        <!--<div class="team-item thumbnail">-->
        <!--<a href="#" class="thumb-info team">-->
        <!--<%#= image_tag("team/ian_jones.jpg", :alt => "Ian Jones", :class => 'img-responsive') %>-->
        <!--<span class="thumb-info-title">-->
        <!--<span class="thumb-info-inner">Ian Jones</span>-->
        <!--<span class="thumb-info-type">Business Development Manager</span>-->
        <!--</span>-->
        <!--</a>-->
        <!--<span class="thumb-info-caption">-->
        <!--<span class="thumb-info-social-icons">-->
        <!--<a target="_blank" href="http://github.com/webstoreltd" alt="Github handle ianjones"><i class="fa fa-github"></i></a>-->
        <!--<a rel="tooltip" data-placement="bottom" target="_blank" href="https://www.facebook.com/thiyagarajannv" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>-->
        <!--<a rel="tooltip" data-placement="bottom" href="https://twitter.com/thiyagarajannv" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>-->
        <!--<a rel="tooltip" data-placement="bottom" href="http://in.linkedin.com/in/thiyagarajanveluchamy" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>-->
        <!--</span>-->
        <!--</span>-->
        <!--</div>-->
        <!--</li>-->

        <li class="col-md-3 isotope-item leadership development design testing">
          <div class="team-item thumbnail">
            <a href="#" class="thumb-info team">
              <%= image_tag("team/thiyagarajan.jpg", :alt => "Thiyagarajan Veluchamy", :class => 'img-responsive') %>
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Thiyagarajan Veluchamy</span>
                <span class="thumb-info-type">Ruby/PHP developer/Designer</span>
							</span>
            </a>
            <span class="thumb-info-caption">
                <span class="thumb-info-social-icons">
                  <a target="_blank" href="http://github.com/thiyagarajan" alt="Github handle gautamrege"><i class="fa fa-github"></i></a>
                  <a rel="tooltip" data-placement="bottom" target="_blank" href="https://www.facebook.com/thiyagarajannv" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                  <a rel="tooltip" data-placement="bottom" href="https://twitter.com/thiyagarajannv" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                  <a rel="tooltip" data-placement="bottom" href="http://in.linkedin.com/in/thiyagarajanveluchamy" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                </span>
              </span>
          </div>
        </li>
        <li class="col-md-3 isotope-item leadership development">
          <div class="team-item thumbnail">
            <a href="#" class="thumb-info team">
              <%= image_tag("team/ankurgupta.jpg", :alt => "Ankur Gupta") %>
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Ankur Gupta</span>
                <span class="thumb-info-type">Ruby/Android developer</span>
              </span>
            </a>
            <span class="thumb-info-caption">
              <span class="thumb-info-social-icons">
                <a target="_blank" href="http://github.com/ankurgupta" alt="Github handle gautamrege"><i class="fa fa-github"></i></a>
                <a rel="tooltip" data-placement="bottom" target="_blank" href="https://facebook.com/shank27" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                <a rel="tooltip" data-placement="bottom" href="https://twitter.com/shanky59" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                <a rel="tooltip" data-placement="bottom" href="http://in.linkedin.com/in/shank27" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
              </span>
            </span>
          </div>
        </li>

        <li class="col-md-3 isotope-item development">
          <div class="team-item thumbnail">
            <a href="#" class="thumb-info team">
              <%= image_tag("team/sanchit.jpg", :alt => "Sanchit Agarwal") %>
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Sanchit Agarwal</span>
                <span class="thumb-info-type">Android/React/ReactNative Developer</span>
              </span>
            </a>
            <span class="thumb-info-caption">
              <span class="thumb-info-social-icons">
                  <a target="_blank" href="https://github.com/thilakg" alt="Github handle thilak"><i class="fa fa-github"></i></a>
                <a rel="tooltip" data-placement="bottom" target="_blank" href="https://www.facebook.com/sanchit.smartone" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                <a rel="tooltip" data-placement="bottom" href="https://twitter.com/sanchitsmartone" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                <a rel="tooltip" data-placement="bottom" href="https://www.linkedin.com/in/sanchit-agarwal-0b017454/" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
              </span>
            </span>
          </div>
        </li>

        <li class="col-md-3 isotope-item development">
          <div class="team-item thumbnail">
            <a href="#" class="thumb-info team">
              <%= image_tag("team/thilak.jpg", :alt => "Thilak G") %>
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Thilak G</span>
                <span class="thumb-info-type">Ruby On Rails developer</span>
              </span>
            </a>
            <span class="thumb-info-caption">
              <span class="thumb-info-social-icons">
                <a target="_blank" href="https://github.com/thilakg" alt="Github handle thilak"><i class="fa fa-github"></i></a>
                <a rel="tooltip" data-placement="bottom" target="_blank" href="https://www.facebook.com/thilak.rex.7" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                <a rel="tooltip" data-placement="bottom" href="https://twitter.com/thilak37006648" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                <a rel="tooltip" data-placement="bottom" href="http://www.moorem.com/pages/about_us#" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
              </span>
            </span>
          </div>
        </li>

        <li class="col-md-3 isotope-item development">
          <div class="team-item thumbnail">
            <a href="#" class="thumb-info team">
              <%= image_tag("team/pavitrakumarsingh_new.jpg", :alt => "Pavitra Kumar Singh") %>
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Pavitra Kumar Singh</span>
                <span class="thumb-info-type">Ruby/Java developer</span>
              </span>
            </a>
            <span class="thumb-info-caption">
              <span class="thumb-info-social-icons">
                <a target="_blank" href="http://github.com/" alt="Github handle gautamrege"><i class="fa fa-github"></i></a>
                <a rel="tooltip" data-placement="bottom" target="_blank" href="https://www.facebook.com/pavitra.kumarsingh" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                <a rel="tooltip" data-placement="bottom" href="https://twitter.com/PavitraKs" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                <a rel="tooltip" data-placement="bottom" href="http://www.moorem.com/pages/about_us#" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
              </span>
            </span>
          </div>
        </li>

        <li class="col-md-3 isotope-item development">
          <div class="team-item thumbnail">
            <a href="#" class="thumb-info team">
              <%= image_tag("team/prashantkumarswain_new.jpg", :alt => "Prasanta Kumar") %>
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Prasanta Kumar</span>
                <span class="thumb-info-type">Trainee RoR Developer</span>
              </span>
            </a>
            <span class="thumb-info-caption">
              <span class="thumb-info-social-icons">
                <a target="_blank" href="http://github.com/prasantakumarswain" alt="Github handle gautamrege"><i class="fa fa-github"></i></a>
                <a rel="tooltip" data-placement="bottom" target="_blank" href="https://www.facebook.com/prasanta371" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                <a rel="tooltip" data-placement="bottom" href="https://twitter.com/swain_prasanta" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                <a rel="tooltip" data-placement="bottom" href="http://www.moorem.com/pages/about_us#" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
              </span>
            </span>
          </div>
        </li>

        <li class="col-md-3 isotope-item development">
          <div class="team-item thumbnail">
            <a href="#" class="thumb-info team">
              <%= image_tag("team/jajisha.jpg", :alt => "Jajisha Tatineni") %>
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Jajisha Tatineni</span>
                <span class="thumb-info-type">Trainee RoR Developer</span>
              </span>
            </a>
            <span class="thumb-info-caption">
              <span class="thumb-info-social-icons">
                <a target="_blank" href="https://github.com/jajisha" alt="Github handle gautamrege"><i class="fa fa-github"></i></a>
                <a rel="tooltip" data-placement="bottom" target="_blank" href="https://www.facebook.com/chinnu.tatineni" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                <a rel="tooltip" data-placement="bottom" href="https://twitter.com/jajisha2222" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                <a rel="tooltip" data-placement="bottom" href="http://www.moorem.com/pages/about_us#" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
              </span>
            </span>
          </div>
        </li>
      </ul>

    </div>

  </div>
</div>