<!DOCTYPE html>
<html>
<head>
  <title>Moorem Technologies Pvt Ltd</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' %>
  <%= favicon_link_tag 'favicon.ico', rel: 'icon', type: 'image/x-icon' %>
</head>
<body>
<div class="body">
  <%= render partial: 'shared/header' %>
  <%= yield %>
  <%= render partial: 'shared/footer' %>
</div>
<script src="/js/theme.js"></script>
<script src="/js/view.home.js"></script>
</body>
</html>
