<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="3VOq-mm22okS3AmrknR1BudGD5UlXkbLNUTQPWxP5ec" />
  <meta property="og:title" content="Moorem Technologies Pvt Ltd || Arena of Ruby & Rails"/>
  <meta property="og:site_name" content="Moorem Technologies Pvt Ltd || Arena of Ruby & Rails"/>
  <meta property="og:image" content="http://www.moorem.com/assets/logo-cbe4224bb26ab82b945c96d9fb8210e4.png"/>
  <meta property="og:url" content="http://www.moorem.com/"/>
  <meta property="og:type" content="web/application development company"/>
  <meta property="og:description" content="Arena of Web/Application development in Ruby&rails Technology. We are growing company in the field of ROR open source Development."/>
  <meta name='keywords' content='Ruby on Rails Development, Ruby on Rails, Rails development, Responsive, Bootstrap, HTML & CSS, development, web application, design, ruby, rails'>
  <meta name='description' content='Ruby on Rails development experts in India and we believe that Open Source programming is an Art. We give quality web application with fastest on web and with best architecture. we are working with latest responsive bootstrap structure.We use the most modern technologies and approaches to deliver Ruby on Rails development service with uncompromising quality.'>
  <meta name="image" content="http://www.moorem.com/assets/logo-cbe4224bb26ab82b945c96d9fb8210e4.png"/>
  <title>Ruby on Rails experts in India | Moorem Technologies Pvt Ltd</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.png', rel: 'shortcut icon', type: 'image/x-icon' %>
  <%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/x-icon' %>
</head>
<body>
<% unless flash.first.blank? %>
  <% flash.each do |name, msg| %>
    <script type="text/javascript">
      $(document).ready(function () {
        noty({text: "<%= msg %>", type: '<%= name == "success" ? "success" : "error" %>'});
      });
    </script>
  <% end %>
<% end %>
<div class="body">
  <%= render partial: 'shared/header' %>
  <%= yield %>
  <%= render partial: 'shared/footer' %>
</div>
<script src="/js/theme.js"></script>
<script src="/js/view.home.js"></script>
<script type="text/javascript">
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-51412005-1', 'moorem.com');
  ga('send', 'pageview');

</script>
<script type="text/javascript" src="js/noty/packaged/jquery.noty.packaged.min.js"></script>
</body>
</html>
