<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Ruby on Rails experts | Moorem Technologies Private Limited</title>

  <!-- Meta -->
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <!--320-->
  <meta name='keywords' content='Ruby on Rails Development, Ruby on Rails, Agile Development, Rails development, Responsive, Bootstrap, HTML & CSS, development, web application, design, ruby, rails, AngularJS, Angular JS, Angular, Locomotive, Locomotivecms, Locomotive CMS'>
  <meta name='description' content='Ruby on Rails development experts in India. We give quality web application with fastest on web and with best architecture.'>
  <meta name='author' content='Moorem Technologies'>

  <meta name="robots" content="follow, index, all"/>
  <meta name="distribution" content="Global"/>
  <meta name="revisit-after" content="2 days"/>
  <meta name="doc-type" content="Public"/>
  <meta name="rating" content="general"/>
  <link rel="canonical" href="http://www.moorem.com/"/>
  <!-- Favicon -->
  <%= favicon_link_tag 'favicon.png', rel: 'shortcut icon', type: 'image/x-icon' %>
  <%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/x-icon' %>

  <!-- Stylesheets -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Javascripts -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<% unless flash.first.blank? %>
  <% flash.each do |name, msg| %>
    <script type="text/javascript">
      $(document).ready(function () {
        noty({text: "<%= msg %>", type: '<%= name == "success" ? "success" : "error" %>'});
      });
    </script>
  <% end %>
<% end %>
<div class="body">
  <%= render partial: 'shared/header' %>
  <%= yield %>
  <%= render partial: 'shared/footer' %>
</div>
<script src="/js/theme.js"></script>
<script src="/js/view.home.js"></script>

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-51412005-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
